%h1 Horários para reserva

%table.table
  %tr
    %th
      Horário
    - @days.each do |day|
      %th
        =I18n.t("date.day_names")[day + 1]
  - @hours.each do |hour|
    %tr
      %td
        = hour
      - @days.each do |day|
        %td
          = link_to_room_booking(day,hour)
